footer.l-footer
  ul.c-links.--light
    li.c-links__wrap
      a.c-links__link(href="https://www.instagram.com/la_chance.co/" target="_blank")
        iconify-icon.u-icon.--md(icon="uil:instagram-alt")
    li.c-links__wrap
      a.c-links__link(href="https://lin.ee/lFOQnL9" target="_blank")
        iconify-icon.u-icon.--md(icon="uil:line")

  .u-text-sm.u-mt-16 COPYRIGHT © 2024 #{siteName} ALL RIGHTS RESERVED.
