nav.l-navbar
  a.l-navbar__logo-mask.u-shadow.--link(href="/")
    img(src="img/logo/logo.svg", alt=`${siteName} Logo`)

  ul.c-links.u-color-black-40
    li.c-links__wrap
      a.c-links__link(href="https://www.instagram.com/la_chance.co/" target="_blank")
        iconify-icon.u-icon.--lg(icon="uil:instagram-alt")
    li.c-links__wrap
      a.c-links__link(href="https://lin.ee/lFOQnL9" target="_blank")
        iconify-icon.u-icon.--lg(icon="uil:line")