-
  const baseUrl = 'https://princityle.github.io/lachance';
  const siteName = '微善選物';
  let path = '';
  let pageTitle = '';
  let infoTitle = '友善你我的選品';
  let description = '消費也能很有機，微善選物 ESG 微小的善念，也能像波浪般一步步的推動各種善的循環透過消費選擇來推動品牌及永續經營的可能性。';
  let image = 'img/og/og.jpg';
  