extends layouts/_default.pug

block page
  section.u-pt-120.l-about-home
    .container.--sm
      h2.u-text-xl.u-fw-700.u-mb-8 微善選物 - 友善選物
      h3.u-text-lg.u-mb-40 微小的善念, 也能像波浪般一步步的推動各種善的循環
      p.u-color-black-60 微（諧音wave 波浪之意）
        br
        | 善（各種善的人事物, 善的循環之意）
        
      p.u-my-40 其實最早微善選物有另外一個名字叫做「幸福運轉」
        br
        | 期望能帶給大家的是透過禮品選擇，轉動友善消費的理念；
        br
        | 幾個月的推廣過程中，似乎無法將我們想要的行動說的清楚，
        br
        | 於是於改名為「微善選物」，透過品牌的諧音，將文字背後的力量展現出來。

      p 微善選物所提供的商品，都盡可能地符合 ESG 永續經營的衡量指標，
        br
        | 透過消費選擇來推動品牌及永續經營的可能性；
      p.u-mt-8.u-color-primary ESG ＝ 環境保護（Environment）、社會責任（Social）、公司治理（Governance）

      p.u-mt-24 讓我們在各種利益關係中，串起各種善的人事物；
        br
        | 邀請您一同成為這個計畫的 Stakeholder（利益關係人）
        br
        | 透過支持平台商品讓供應商及通路能夠朝永續經營的方向邁進！
      
      p.u-mt-40.u-color-black-60 微善選物，即刻開始你的有機生活

      ul.c-links.u-mt-16
        li.c-links__wrap
          a.c-links__link(href="https://www.instagram.com/la_chance.co/" target="_blank")
            iconify-icon.u-icon.--md(icon="uil:instagram-alt")
        li.c-links__wrap
          a.c-links__link(href="https://lin.ee/lFOQnL9" target="_blank")
            iconify-icon.u-icon.--md(icon="uil:line")
      
